* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

circle:nth-of-type(2),
circle:nth-of-type(3) {
  stroke-width: 5px;
  stroke: white;
}